<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=
    , initial-scale=1.0"
        />
        <title>Amazona</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">amazona</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">signin</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <img src="./images/p1.jpg" alt="Product" />
                        </a>
                    </div>
                </div>
            </main>
            <footer class="row center">copyright amitazadi</footer>
        </div>
    </body>
</html>
